<nav class="navbar" role="navigation" aria-label="main navigation">
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="/" class="navbar-item">
        Home
      </a>
      <a href="/accounts" class="navbar-item">
        Accounts
      </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <button class="button">Log in / Sign up</button>
      </div>
    </div>
  </div>
</nav>